<div class = "container">
    <h2 class = "text-center">contact form</h2>

    <%= form_for "/contacts" do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name %>
    
        <%= f.label :email %>
        <%= f.text_field :email %>
    
        <%= f.label :questions %>
        <%= f.text_area :questions %>
        
        <%= f.submit 'submit' %>
    <% end %>

</div>
